* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #fff;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: black;
  font-family: Permanent Marker, cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.restart-button {
  margin-left: 100px;
  font-size: 15px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

.winning-line {
  position: absolute;
  background-color: red;
  height: 5px;
}

.winning-line-0-1-2 {
  top: 25px;
  left: 5px;
  width: 160px;
}

.winning-line-3-4-5 {
  top: 85px;
  left: 5px;
  width: 160px;
}

.winning-line-6-7-8 {
  top: 145px;
  left: 5px;
  width: 160px;
}

.winning-line-0-3-6 {
  top: 5px;
  left: 25px;
  height: 160px;
  width: 5px;
}

.winning-line-1-4-7 {
  top: 5px;
  left: 85px;
  height: 160px;
  width: 5px;
}

.winning-line-2-5-8 {
  top: 5px;
  left: 145px;
  height: 160px;
  width: 5px;
}

.winning-line-0-4-8 {
  top: 5px;
  left: 5px;
  width: 160px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.winning-line-2-4-6 {
  top: 5px;
  left: 5px;
  width: 160px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
